.page-header {
    position: relative;

    min-height: 445px;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;

    background: url('../img/bg-back-mobile@1x.jpg') no-repeat center 56px;

    @media($mobile-only) {
        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background: url('../img/bg-back-mobile@2x.jpg') no-repeat center 56px;
            background-size: 768px;
        }
    }

    @media($tablet) {
        min-height: 574px;

        background: url('../img/bg-back-desktop@1x.jpg') no-repeat center 56px;
        background-size: cover;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background: url('../img/bg-back-desktop@2x.jpg') no-repeat center 56px;
            background-size: 1200px;
        }
    }
}

.page-header::before {
    content: '';

    position: absolute;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);

    width: 88%;
    height: 281px;

    background: url('../img/text-sedona-index.svg') no-repeat center;

    @media($tablet) {
        top: 133px;
        height: 350px;
    }
}

.page-header::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    min-height: 57px;

    background: url('../img/bg-intro-triangle-desktop.svg') no-repeat center;
    background-size: cover;
}

.page-header__logo {
    position: absolute;
    left: 50%;
    z-index: 2;

    transform: translateX(-50%);
}
