$mobile-only: 'max-width: 767px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1200px';

$grey: #333333;
$ligth-grey: #f2f2f2;
$blue: #81b3d2;
$white: #ffffff;
$black: #000000;
$brown: #766357;
